@import '../../styles/variables';

.navbar-toggler {
  padding: 4px;
  border: 1px solid $main-color;
  color: $main-color;
}

.bi-gear {
  width: 24px;
  height: 24px;
  transition: all 0.3s linear;
}

.cog-rotate {
  .bi-gear {
    transform: rotate(-45deg);
  }
}

.logo {
  width: 28px;
  margin-right: 16px;
  margin-bottom: 4px;
}

.collapse.show {
  position: absolute;
  z-index: 50;
  top: 50px;
  left: 100%;
  width: 100%;
  height: 100dvh;
  transition: all 0.5s ease;

  &.translate-y {
    background: #0f2633e8;
    transform: translateX(-100%);
  }
}

.navbar {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  position: sticky;
}

.logo-wrap {
  display: flex;
}

.links {
  display: flex;
  gap: 16px;
}

.nav-link {
  color: $light-color;
  user-select: none;

  &.active-nav {
    color: $main-color;
    pointer-events: none;
  }
}

@media (width >= 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

@media only screen and (width <= 767px) {
  .logo {
    width: 20px;
    margin-right: 8px;
    margin-bottom: 0;
  }
}
