@import '../../../../styles/variables';

.icon-btn {
  position: relative;
  z-index: 1;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 600;

  &::after {
    position: absolute;
    z-index: 0;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background-color: transparent;
    content: '';
    transition: all 0.3s ease;
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid transparent !important;
    background-color: transparent !important;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: rgba($dark-color, 0.2);
    }
  }

  &:active {
    &::after {
      background-color: rgba($dark-color, 0.4);
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.animated {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
