@import '../../../../styles/variables';

.head {
  display: flex;
  width: 70%;
  margin: 1rem auto;
  gap: 8px;

  .hints {
    display: flex;
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 0;
    gap: 4px;
  }

  .icon-btn {
    position: relative;
    z-index: 1;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 600;

    &::after {
      position: absolute;
      z-index: 0;
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      border-radius: 50%;
      background-color: transparent;
      content: '';
      transition: all 0.3s ease;
    }

    &:hover,
    &:active,
    &:focus {
      border: 1px solid transparent;
      background-color: transparent !important;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: rgba($dark-color, 0.2);
      }
    }

    &:active {
      &::after {
        background-color: rgba($dark-color, 0.4);
      }
    }
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .animated {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }

  .text {
    flex-grow: 1;
    margin-bottom: 0;
    color: $dark-color;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    transition: all 0.3s ease;
  }

  .invisible {
    opacity: 0;
    transition: none;
  }
}

@media only screen and (width <= 1000px) {
  .head {
    align-items: flex-end;

    .icon-btn {
      width: 1.2rem;
      height: 1.2rem;
      padding: 0;
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}
