$main-color: #6582ff;
$accent-color: #4c00ff;
$dark-color: #2b3035;
$light-color: #dee2e6;
$light-color2: #e0e0e0;

$error-color: #ffa6ae;
$success-color: rgb(114 182 114);

$error-bright-color: rgb(172 1 1);
$success-bright-color: rgb(116 190 4);
