@import '../../../styles/variables';

.login-card {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 4rem 6rem;
  border-radius: 16px;
  margin: auto;
  background: rgba(#2b3035, 0.98);
}
