@import '../../styles/variables';

.games {
  width: 100%;
  align-self: flex-start;
  margin: 2rem 0;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .level {
    display: flex;
    width: 100%;
    max-width: 120px;
    justify-content: center;
    border-color: rgba($dark-color, 0.85);
    margin-top: 16px;
    background-color: rgba($dark-color, 0.85);
    filter: brightness(1);

    &:hover,
    &:focus {
      border-color: rgba($dark-color, 0.95);
      background-color: rgba($dark-color, 0.95);
      filter: brightness(1.2);
    }

    &:active,
    &.active {
      border-color: $dark-color;
      background-color: $dark-color !important;
      filter: brightness(1);
    }
  }
}

.cards {
  padding-top: 1.5rem;

  .game-card {
    position: relative;
    overflow: hidden;
    min-height: 120px;
    padding: 12px 20px;
    border: 2px solid #464849;
    background-color: rgba($dark-color, 0.9);
    transition: all 0.3s ease;

    .dark-layer {
      position: absolute;
      z-index: 0;
      background-color: rgba($dark-color, 0.75);
      inset: 0;
      transition: all 0.3s ease;
    }

    .name-img {
      position: relative;
      margin-bottom: 0;
      color: $light-color;
      font-weight: 600;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
      filter: brightness(1);

      .dark-layer {
        background-color: rgba($light-color, 0.45);
      }

      .name-img {
        color: #000;
        filter: brightness(0.2);
        font-weight: 600;
      }
    }

    &:active,
    &.active {
      filter: brightness(1);
    }
  }

  .completed {
    &::before {
      content: url('../../assets/icons/checkbox-marked.svg');
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 1;
    }
  }
}

.completed-level {
  position: relative;

  &::before {
    content: url('../../assets/icons/checkbox-multiple-marked.svg');
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: calc(50% - 10px);
    right: 8px;
    z-index: 1;
  }
}
