@import '../../../../styles/variables';

.badge {
  display: flex;
  min-width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: rgba($error-color, 0.4);
  color: $dark-color;
  font-size: 0.9rem;
  font-weight: 600;
}

.art-info {
  p {
    margin: 0;
  }
}

.result {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px;
  aspect-ratio: 16/9;
  background-color: #fff;
  gap: 32px;

  .sentences-wrapper {
    display: flex;
    max-height: 60%;
    gap: 40px;
  }

  .result-block {
    display: flex;
    width: calc(50% - 20px);
    flex-direction: column;
    color: $dark-color;
    gap: 12px;
  }

  .sentences {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 12px;
    overflow-y: auto;
  }

  .sentence {
    display: flex;
    padding: 0 8px;
    gap: 12px;

    p {
      margin: 0;
    }
  }

  .empty-text {
    padding-top: 12px;
  }

  .title-statistic {
    display: flex;
    align-items: center;
    gap: 8px;

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  .know {
    .icon {
      width: 28px;
      height: 28px;
    }

    .badge {
      background-color: rgba($success-color, 0.4);
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: $light-color;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba($dark-color, 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($dark-color, 0.6);
  }
}

.art-container {
  display: flex;
  color: $dark-color;
  font-weight: 500;
  gap: 32px;
}

.art-card {
  width: 220px;
  aspect-ratio: 16/9;
}
